body{
    background-color: rgb(190, 248, 219);
    /* background: url(../img/bubbleBg1.jpg); */

}
.floatRight{
    /* float: right; */
}
header nav{
    /* float: right; */
    /* margin-top: 10px */
}
.logo{
    /* width: 10%; */
    width: 100px;
}
header{
    /* background: rgb(48, 124, 13); */
    background: rgb(3, 131, 88);
    background-image: linear-gradient(#2dbedd,#0b77a6);
    color: rgb(253, 253, 253);
    /* padding-top: 30px; */
    min-height: 50px;
    border-bottom: rgb(95, 168, 170) 3px thin;
}

header a:hover{
    color: #16A085;
    /* font-weight: bold; */
}
#main-heading {
    /* background-image: url(../img/bg1.jpeg); */
    background-image: linear-gradient(#5592b1,#bef8db);
    color: azure;
    font-style: italic;
    text-shadow: 2px 2px 5px #009a4e;
}
#main-heading h1 {
color: #ffffff;
text-transform: uppercase;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }
footer {
    text-align: center;
    background: #2c8741;
    color: rgb(253, 253, 253);
    /* padding: 20px; */
    /* margin-top: 20px; */
}
footer a{
    color: #fff;
}
label {
    margin-bottom: .2rem;
}
.districtName {
font-weight: 500;
text-transform: uppercase;
color: #000000;
}
.places {
background-color: #ffffff;
}
/* .places:hover {
 cursor: pointer;
} */
.places h4 {
    font-size: 16px;
    padding: 10px;
    background: #16A085;
    margin-bottom: 0px;
    text-transform: capitalize;
    color: #ffffff;
}
.DistrictBtn a {
    text-transform: uppercase;
}
.district.distImg.img-fluid {
    border: 1px cadetblue;
    padding: 5px;
}
#blogCarousel .carousel-control-prev {
 width: 30px;
}
#blogCarousel .carousel-control-next {
    width: 30px;
   }